{% extends 'base.html' %}

{% block head %} 

{% endblock %}


{% block body %}
<br>
 <h1>Home Page for posts and that works fine!</h1>

<hr>
<div>
<h2 style="display: inline;">All posts board</h2>
<a style="display: inline;" href="/posts/new" class="btn btn-success float-end">+ New Post</a>
</div>
<hr>

    {% for post in posts %}

    <h2>{{ post.title }}</h2>

    {% if post.author %}

     <small> Written by {{ post.author }} on {{post.date_posted}}</small>
     <br>

    {% else %}

    <small> Written by Unknown on {{post.date_posted}}</small>
    <br>

    {% endif %}
     <br>
     <p style="white-space: pre-wrap;">{{ post.content }}</p>

     <a class="btn btn-danger" href="/posts/delete/{{ post.id }}">Delete</a>
     <a class="btn btn-warning" href="/posts/edit/{{ post.id }}">Edit</a>
     <br>
     <br>
     <hr>
    {% endfor %}

{% endblock %}